<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PairProgram2</title>
</head>
<style>
    html {
        background-color: #721c24;
    }
</style>
<body>
<header>
    <h1>Pair Programming with Amanda!</h1>
</header>

<ul>
    <li>Cotton Candy</li>
    <li>lollipop</li>

    <!--adolfos input-->
    <li>starburst</li>
    <li>m&ms</li>

</ul>


<p>Collaborating in github is fun!</p>

<img src="Sawtooth-Oak_450_a.jpg" height="352" width="450"/>

</body>
</html>